<!doctype html>
<html lang="en">
<head>
{% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
    <div id="account-loginform" class="wrapper-horizon">
        <div class="wrapper-content">
            <div id="account-login">
                {% if state %}
                <div id="login-error" class="formfield" >
                    <div id="login-error-msg">
                        <p class="error-{{stateStatus}}">
                            <img src="{% static "img/login_icon_error.png" %}" width="14" height="14">
                            {{state}}
                        </p>
                    </div>
                </div>
                {% endif %}
                <form action="{% url 'auth:login' %}" method="post" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="next" id="next" value="{{next}}" />
                    <p>
                        <label for="login-email">Username</label>
                        <input id="login-email" class="formfield" type="text" name="username" placeholder="Username">
                    </p>

                    <p>
                        <label for="login-password">Password</label>
                        <input id="login-password" class="formfield" type="password" name="password" placeholder="Password">
                    </p>
                    <p>
                        <button id="login-button" class="formfield" type="submit">Login</button>
                    </p>
                    <p id="login-forgot"><a href="#" role="button" data-toggle="modal" data-target="#account-registrationform">Register</a></p>
                </form>
            </div>
        </div>
    </div>

    <div id="account-registrationform" class="modal hide fade" role="dialog">
        <form class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="next" id="next" value="{{next}}">
            <header class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Register</h3>
            </header>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="registration-username">Username</label>
                    <div class="controls">
                        <input id="registration-username" type="text" name="username" placeholder="Username" maxlength="30">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="registration-email">Email</label>
                    <div class="controls">
                        <input id="registration-email" type="text" name="email" placeholder="E-Mail">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="registration-password">Password</label>
                    <div class="controls">
                        <input id="registration-password" type="password" name="password1" placeholder="Password">
                        <input id="registration-passwordconfirm" type="password" name="password2" placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <footer class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" type="submit">Register</button>
            </footer>
        </form>
    </div>
</body>
</html>