{% extends "root.html" %}
{% load text_tags %}

{% block main %}

{{form.as_table}}

<div class="thumbs">
	{% for file in recentFiles %}
		<!-- {{ file.name }}-->
		<a href="{% url 'comics:single' file.id %}"><img src="/static/images/{{file.thumbnail|hexVert}}" width="160px" /></a>
	{% endfor %}
</div>
<hr />
<div class="thumbs"><a href="{% url 'comics:possible' %}">Possible Series</a> | <a href="{% url 'comics:new_series' 0 %}">Create Series</a></div>
<hr />
<div>
    {% for series in series_list %}
        <div><a href="{% url 'issues:browse' series.id %}">
            {{series}}
        </a></div>
    {% endfor %}
</div>
<hr />
{% endblock %}