{% extends "root.html" %}
{% load text_tags %}
{% load base_tags %}

{% block head %}
<script type="text/javascript">
    function toggle_status(id,box) {
        //$("#verses_linked").html("");
        //alert(id+" - "+box);
        $.getJSON(
            "/issues/ajax/"+id+"/"+box,
            function(data){
                if (data["Success"] == "Updated!") {
                    //alert(data[box]);
                } else {
                    alert("Error");
                }                
            }
        );        
    }
    
    function transfer_primaries(series) {
        console.log("Calling transfer_primaries")
        $.getJSON(
            "/files/primary/transfer/"+series,
            function(data){
                console.log(data);              
            }
        );         
    }

    function transfer_unread_primaries(series, unread) {
        console.log("Calling transfer_unread_primaries")
        $.getJSON(
            "/files/primary/transfer/"+series+"/"+unread,
            function(data){
                console.log(data);              
            }
        );         
    }
</script>
{% endblock %}

{% block main %}
<h1>{{series}}</h1>
<div>
    <table>
        <tr><th>Comic</th><th>Read</th><th>Own</th></tr>
    {% for issue in comics %}
        <tr>
        <td><a href="{% url issues.views.single issue.id %}">{{issue}}</a></td>
        <td><input type='checkbox' name='{{issue.id}}-read' id='{{issue.id}}-read' onClick='javascript:toggle_status("{{issue.id}}","read")' {%if issue.read %}checked{% endif %}/></td>
        <td><input type='checkbox' name='{{issue.id}}-own' id='{{issue.id}}-own' onClick='javascript:toggle_status("{{issue.id}}","own")' {%if issue.own %}checked{% endif %}/></td>
        </tr>
    {% endfor %}
    <table>
<p><a href='{% url issues.views.incrementSeries series.id %}'>Increment Series</a></p>
<p><a onClick="javascript:transfer_primaries('{{series.id}}');">Transfer Primaries</a></p>
<p><a onClick="javascript:transfer_unread_primaries('{{series.id}}', 'True');">Transfer Unread Primaries</a></p>
</div>
{% endblock %}