{% extends "root.html" %}
{% load text_tags %}

{% block head %}
<script type="text/javascript">
    function to_transfer(comic) {
    	//alert(comic);
        //$("#verses_linked").html("");
        //alert(id+" - "+box);
        $.getJSON(
            "/issues/ajax/transfer/"+comic,
            function(data){
            	//alert(data);
                if (data["added"] == True) {
                    //alert(data[box]);
                } else {
                    alert("Error");
                }                
            }
        );        
    }
    
</script>
{% endblock %}


{% block main %}
<div>{{comic}}</div>

<div>
{% for single in possible %}
    <div>
    	<a href="{% url HomeComics.views.single_issue single.id %}">{{single.name}}</a> | 
    	<a href="/comic_files_static{{single.dir_path}}/{{single.name}}">Download</a>
    	<button onClick='javascript:to_transfer("{{single.id}}")'>Add to transfer</button>
    </div>
{% endfor %}
</div>
{% endblock %}
