{% extends "root.html" %}
{% load text_tags %}

{% block head %}
<script type="text/javascript">
    function to_transfer(comic) {
    	//alert(comic);
        //$("#verses_linked").html("");
        //alert(id+" - "+box);
        $.getJSON(
            "/issues/ajax/transfer/"+comic,
            function(data){
            	//alert(data);
                if (data["added"] == true) {
                    //alert(data[box]);
                } else {
                    alert("Error");
                }                
            }
        );        
    }
    
    function make_primary(series, comic, file) {
        console.log("make_primary called");
        $.getJSON(
            "/files/primary/"+series+"/"+comic+"/"+file,
            function(data){
                console.log(data);
                if (data["success"] == true) {
                    console.log("Success!");
                    console.log(data);
                } else {
                    alert("Error");
                    console.log(data);
                }                
            }
        ); 
    }

    function make_duplicate(series, comic, file) {
        console.log("make_duplicate called");
        $.getJSON(
            "/files/duplicate/"+series+"/"+comic+"/"+file,
            function(data){
                //console.log(data);
                if (data["success"] == true) {
                    console.log("Success!");
                    console.log(data);
                } else {
                    alert(data.msg);
                    console.log(data);
                }
            }
        );
    }
</script>
{% endblock %}

{% block title %}{{comic.series}}{% endblock %}

{% block main %}
<div class="issue issue_single_series"><a href="{% url 'issues:browse' comic.series.id %}">{{comic.series}}</a></div>
<div class="issue issue_single_issue">{{comic}}</div>

<div>
{% for single in primary %}
    <div style="clear: both;">
        <!--{{comic.id}} | {{comic.series.id}} | {{single.id}}-->
        <img class="issue primary_img" src="/static/images/{{single.thumbnail|hexVert}}" style="float: left;"/>
		<div class="issue primary">
    		<a href="{% url 'comics:single' single.id %}">{{single.name}}</a><br />
    		<a href="/comic_files_static{{single.dir_path}}/{{single.name}}">Download</a><br />
    		<button onClick='javascript:to_transfer("{{single.id}}")'>Add to transfer</button><br />
    		<div style="clear: both;">&nbsp;</div>
		</div>
    </div>
{% endfor %}
	<hr />
{% for single in possible %}
    <div style="clear: both;">
        <!--{{comic.id}} | {{comic.series.id}} | {{single.id}}-->
        <img class="issue primary_img" src="/static/images/{{single.thumbnail|hexVert}}" style="float: left;"/>
		<div class="issue possible">
			<div class="issue name"><a href="{% url 'comics:single' single.id %}"><span>{{single.name}}</span></a></div>
			<div><button onClick="javascript:make_primary('{{comic.series.id}}', '{{comic.id}}', '{{single.id}}');">Make Primary</button></div>
			<div><button onClick='javascript:to_transfer("{{single.id}}")'>Add to transfer</button></div>
            <div><button onClick="javascript:make_duplicate('{{comic.series.id}}', '{{comic.id}}', '{{single.id}}');">Add to Duplicates</button></div>
            <div><a href="/comic_files_static{{single.dir_path}}/{{single.name}}">Download</a></div>
		Increment/Create series to: <a href="{% url 'comics:new_series' single.id %}">{{single.comic_issue}}</a>
			<div style="clear: both;">&nbsp;</div>
		</div>
    </div>
{% endfor %}
</div>
{% endblock %}
