.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.pulls {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
}
.pulls li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.pulls li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.pulls li:hover {
    background-color: #DDD;
    left: .1em;
}
.pulls .text {
    position: relative;
    top: -3px;
}

.pulls .text:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.pulls .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.pulls .controls {
    display: inline-block;
    float: right;
}

.pulls .remove {
    display: inline-block;
    background-color: #ccc;
    position: relative;
    height: 1.8em;
    border-radius: 0px 4px 4px 0px;
    padding: 0.8em 0.7em 0 0.7em;
    right: -1px;
    top: -4px;
    font-size: small;
    line-height: 1em;
}

.pulls .remove:hover {
    background-color: #ff2f54;
    color: black;
}

.pulls .tup {
    background-color: #40a940;
    position: relative;
    height: 1.8em;
    border-radius: 4px 0px 0px 4px;
    padding: 0.8em 0.7em 0.5em 0.7em;
    right: -1px;
    top: -2px;
    font-size: small;
    line-height: 1em;
}

.pulls .tup:hover {
    color: white;
}

.seriesControls {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.seriesControls .seriesControl {
    display: inline-block;
    padding: 10px;
    margin: 0px;
    margin-left: -4px;
}

.seriesControls .tp {
    background-color: #2a62bc;
}

.seriesControls .tp:hover {
    color: white;
    background-color: #3D97F5;
}

.seriesControls .tup {
    background-color: #40a940;
}

.seriesControls .tup:hover {
    color: black;
    background-color: #40ff40;
}

.seriesControls .inc {
    border-radius: 0 4px 4px 0;
    background-color: dodgerblue;
}

.seriesControls .inc:hover {
    color: white;
    background-color: darkblue;
}

.seriesControls .atp {
    border-radius: 4px 0 0 4px;
    background-color: purple;
}

.seriesControls .atp:hover {
    color: black;
    background-color: rebeccapurple;
}

#ajaxloader
{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 8px solid #000;
    border-right-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 25px 2px #ccc;
    animation: spin 1s linear infinite;
    clear: both;
    text-align: center;
}

@keyframes spin
{
    from { transform: rotate(0deg);   opacity: 0.2; }
    50%  { transform: rotate(180deg); opacity: 1.0; }
    to   { transform: rotate(360deg); opacity: 0.2; }
}
