{% extends "root.html" %}
{% load text_tags %}

{% block main %}
<form action="{% url 'comics:search' %}" method="post">
    {% csrf_token %}
    <table>
    {{form}}
    </table>
    <input type="Submit" />
</form>

<h3>Series</h3>
{% for series in seri %}
    <div><a href="{% url 'issues:browse' series.id%}">{{series.name}}</a></div>
{% endfor %}

<h3>Comics</h3>
{% for comic in comics %}
    <div><a href="{% url 'issues.views.single' comic.id%}">{{comic.name}}</a></div>
{% endfor %}

<h3>Files</h3>
{% for file in files %}
    <div><a href="{% url 'comics:single' file.id%}">{{file.name}}</a></div>
{% endfor %}

<h3>Files By Path</h3>
{% for file in file_by_dir %}
    <div><a href="{% url 'comics:single' file.id%}">{{file.name}}</a></div>
{% endfor %}

{% endblock %}