 {% extends "root.html" %}
{% load text_tags %}

{% block main %}

{{form.as_table}}

<div class="thumbs">
	{% for file in recentFiles %}
		<!-- {{ file.name }}-->
		<a href="{% url 'comics:single' file.id %}"><img src="/static/images/{{file.thumbnail|hexVert}}" width="160px" /></a>
	{% endfor %}
</div>
<hr />
<div class="thumbs"><a href="{% url 'comics:possible' %}">Possible Series</a> | <a href="{% url 'comics:new_series' 0 %}">Create Series</a></div>
<hr />
<div>
    {% for series in series_list %}
        <div>
        	<a href="{% url 'issues:browse' series.series.id %}">
            	{{series.series.name}}
        	</a> &mdash; 
        	<a onClick="javascript:transfer_unread_primaries('{{series.series.id}}', 'True');">Transfer Unread Primaries</a>
    	</div>
    {% endfor %}
</div>
<hr />

{% endblock %}

<!--
 [CR+][search bar]
[[ X MOST RECENT ]]
{...}[ Pull List Images ]{...}
-->

{% block head %}
<script type="text/javascript">
    function toggle_status(id,box) {
        //$("#verses_linked").html("");
        //alert(id+" - "+box);
        $.getJSON(
            "/issues/ajax/"+id+"/"+box,
            function(data){
                if (data["Success"] == "Updated!") {
                    //alert(data[box]);
                } else {
                    alert("Error");
                }                
            }
        );        
    }
    
    function transfer_primaries(series) {
        console.log("Calling transfer_primaries")
        $.getJSON(
            "/files/primary/transfer/"+series,
            function(data){
                console.log(data);              
            }
        );         
    }

    function transfer_unread_primaries(series, unread) {
        console.log("Calling transfer_unread_primaries")
        $.getJSON(
            "/files/primary/transfer/"+series+"/"+unread,
            function(data){
                console.log(data);              
            }
        );         
    }

    function add_to_pull_list(series) {
        console.log("Calling add_to_pull_list")
        $.getJSON(
            "/pull/add/"+series,
            function(data){
                console.log(data);              
            }
        );        
    }

</script>
{% endblock %}