{% extends "root.html" %}
{% load staticfiles %}
{% load compress %}
{% load text_tags %}
{% block main %}

{{form.as_table}}

<div id="thumbsContainer"></div>
<hr />
<div class="thumbs"><a href="{% url 'comics:possible' %}">Possible Series</a> | <a href="{% url 'comics:new_series' 0 %}">Create Series</a></div>
<hr />
<div id="pullsContent"></div>

    <script type="text/javascript">
        ReactDOM.render(
            React.createElement(
                PullsWrapper,
                {
                    url:"{% url 'pulls:api:1.0:list' %}",
                    idata: {{json_pulls|safe}}
                }
            ),
            document.getElementById('pullsContent')
        );

        ReactDOM.render(
            React.createElement(
                PhotoStripWrapper,
                {
                    url:"/comics/api/1.0/thumbnails",
                    idata: {{json_thumbs|safe}}
                }
            ),
            document.getElementById('thumbsContainer')
        );
        </script>
<hr />

{% endblock %}

<!--
 [CR+][search bar]
[[ X MOST RECENT ]]
{...}[ Pull List Images ]{...}
-->

{% block head %}

<script type="text/javascript">
    function toggle_status(id,box) {
        //$("#verses_linked").html("");
        //alert(id+" - "+box);
        $.getJSON(
            "/issues/ajax/"+id+"/"+box,
            function(data){
                if (data["Success"] == "Updated!") {
                    //alert(data[box]);
                } else {
                    alert("Error");
                }                
            }
        );        
    }
    
    function transfer_primaries(series) {
        console.log("Calling transfer_primaries")
        $.getJSON(
            "/files/primary/transfer/"+series,
            function(data){
                console.log(data);              
            }
        );         
    }

    function transfer_unread_primaries(series, unread) {
        console.log("Calling transfer_unread_primaries")
        $.getJSON(
            "/files/primary/transfer/"+series+"/"+unread,
            function(data){
                console.log(data);              
            }
        );         
    }

    function add_to_pull_list(series) {
        console.log("Calling add_to_pull_list")
        $.getJSON(
            "/pull/add/"+series,
            function(data){
                console.log(data);              
            }
        );        
    }

</script>
{% endblock %}